* {
    font-family: 'Times New Roman', Times, serif; 
}
body {
    background-color: #948A54;
}


.logo {
    height: 10vh; 
}
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 10vh; 
    color: #EEECE1;
}  
.navLinks {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    list-style: none;
    font-size: 30px; 
    font-family: 'Times New Roman', Times, serif;
} 
li a {
    margin-left: 50px;
    color: black; 
    text-decoration: none; 
} 
.signup {  
    background-color: #EEECE1;
    background-repeat: repeat;
    /* background-color: #EEECE1;    */
    margin: auto; 
    margin-top: 250px;
    height: 50vh; 
    border-radius: 30px;  
    width: 50vw;   
} 
h1 {
    text-align: center; 
    padding-top: 30px; 
    color: #948A54;
}  
label {
    font-size: 25px;  
    align-items: flex-start;  
    color: #948A54; 
}
.info {
    margin-left: 20px; 
}
input {
    /* width: 70%;  
    font-size: 35px; 
    align-items: flex-end;
    background-color: #948A54; 
    border-color: #EEECE1;  
    border-radius: 10px;
    color: white; */ 
    width: 70%; 
    margin: auto; 
    font-size: 25px;  
    background-color: #948A54; 
    color: #EEECE1;  
    padding: 10px 50px;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}  
::placeholder {
    color: #EEECE1;   
}
.pl {
    margin-left: 55px; 
} 
a {
    text-decoration: none; 
    color: #948A54;
} 
.options {
    display: flex; 
    justify-content: space-between; 
    width: 97%;
}   
.button {
    display: flex;
    justify-content: center; 
}
button {
    width: 20%; 
    height: 30%; 
    background-color: #948A54;
    color: #EEECE1;  
    border-radius: 10px; 
    border: #EEECE1; 
    cursor: pointer;  
    font-size: 20px;
}